/* Footer styles */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--mat-toolbar-background,#067e72 );
  color: var(--mat-toolbar-color, #ffffff);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  box-shadow: 0 -8px 12px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  z-index: 10; /* Ensure footer stays above other content */
}

.footer-logo h3 {
  font-size: 1.8em;
  font-weight: 700;
  color: var(--mat-primary-text-color, #ffffff);
}

.footer-icons a {
  color: var(--mat-icon-color, #ffffff);
  margin: 0 10px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-icons a:hover {
  transform: scale(1.2);
  color: var(--mat-accent-color, #3498db);
}

.footer-bottom p {
  font-size: 0.9em;
  margin: 10px 0 0;
}

/* Main content container */
.main-content {
  padding-bottom: 64px; /* Adjust this based on footer height */
}

body {
  padding-bottom: 64px; /* Ensure body content is not covered by footer */
}

/* Ensure the entire body takes full height and content adjusts accordingly */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
