/* ✅ Import zote lazima ziwe juu kabisa */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

@import "tailwindcss";

/* ✅ Global Styles */
html, body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', Roboto, "Helvetica Neue", sans-serif, Arial ,'Segoe UI';
}

:root { 
  --primary: #0ea5a4; 
  --accent: #6366f1; 
  --muted: #64748b; 
}