.container {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  margin: auto;
}
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
  }
 .button-group {
  display: flex;
  justify-content: flex-start; /* align left */
  gap: 10px;
  margin-bottom: 20px;
}

.button-group button {
  background-color: #1976d2; /* Primary blue color */
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-group button:hover {
  background-color: #1565c0;;
}
h3{
background:rgb(12, 20, 41);
    color: white;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    border-radius: 8px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
 

.search-group {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.search-group input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-group button {
  background-color: #388e3c;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-group button:hover {
  background-color: #2e7d32;
}

  