<div class="container">
  <div class="d-flex justify-content-between mb-3">
    <div class="btn-add-left">
      <button mat-raised-button color="primary" [routerLink]="['/admin/activity']">
        Add Activity
      </button>
    </div>
  </div>

  <h2 class="text-center">Activities</h2>

  <mat-table [dataSource]="activities" class="mat-elevation-z8">

    <!-- Activity Name -->
    <ng-container matColumnDef="activityName">
      <mat-header-cell *matHeaderCellDef> Activity Name </mat-header-cell>
      <mat-cell *matCellDef="let activity"> {{activity.activityName}} </mat-cell>
    </ng-container>

  <!-- Description -->
<ng-container matColumnDef="description">
  <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
  <mat-cell *matCellDef="let activity"> {{activity.description}} </mat-cell>
</ng-container>
    <!-- Venue -->
    <ng-container matColumnDef="venueName">
      <mat-header-cell *matHeaderCellDef> Venue </mat-header-cell>
      <mat-cell *matCellDef="let activity"> {{activity.venueName}} </mat-cell>
    </ng-container>

 <!-- Price -->
<ng-container matColumnDef="price">
  <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
  <mat-cell *matCellDef="let activity">
    {{ activity.price | currency:'TZS':'symbol-narrow':'1.0-0' }}
  </mat-cell>
</ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="black-text"> Actions </mat-header-cell>
      <mat-cell *matCellDef="let activity">
        <button mat-button class="edit-button" (click)="openEditModal(activity.activityId)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteActivity(activity.activityId)">🗑️</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
