
<app-header></app-header>
    <div id="home-page">
        <div class="main-content">
          <div class="content-box">
            <h1 class="title">Zanzibar Social Security Fund</h1>
            <h3 class="subtitle">Experience amazing and comfortable services with Zanzibar Social Security Fund (ZSSF).</h3>
            <div class="action-buttons">
              <button mat-raised-button color="primary" (click)="navigateToContact()">Contact Us</button>
              <button mat-stroked-button color="primary" (click)="handleClick()">Book (Venues)</button>
    
    
              <button mat-stroked-button color="primary">Book (Meeting Rooms)</button>
            </div>
          </div>
        </div>
        </div>
      
        <app-footer></app-footer>
     