.text-red-500{
  color: #ab1906;
  font-weight: 500;
  font-size: 14px;
}

::ng-deep .mat-datepicker-content {
  background-color: #e0f2fe !important;
  padding: 1rem !important;
  border-radius: 8px !important;
  border-color: #9f9fb4;
  border-width: 2px;
  
}

