<app-header></app-header>

<div class="min-h-screen p-4 pt-24 bg-gray-50 rounded-md-lg">
  <div class="max-w-3xl mx-auto">
    <!-- Card Container -->
    <div class="p-6 bg-white border border-gray-200 rounded-lg shadow-lg">
      <h2 class="mb-6 text-2xl font-bold text-center text-blue-700">
        Booking Form
      </h2>

      <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()">
        <!-- STEP 1 -->
        <ng-container *ngIf="currentStep === 1">
          <div class="space-y-4">
            <!-- Start Date -->
            <mat-form-field appearance="fill" class="w-full">
  <mat-label>Start Date
    <mat-error *ngIf="dateError" class="text-red-500">
    {{ dateError }}
  </mat-error>
  </mat-label>
  
  <input
    matInput
    [matDatepicker]="picker"
    formControlName="startDate"
    [min]="minDate"
    (dateChange)="onStartDateChange($event)"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker
    #picker
    [startAt]="minDate"
    [dateClass]="dateClass"
    panelClass="my-custom-picker"
  >
  </mat-datepicker>
  <mat-error *ngIf="bookingForm.get('startDate')?.hasError('required')" class="text-red-500">
    Start date is required
  </mat-error>
</mat-form-field>



            <!-- Days Counter -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Number of Days</mat-label>
              <input matInput type="number" min="1" formControlName="daysCount"
                     (input)="calculateEndDate()">
              <mat-error class="text-red-500" *ngIf="bookingForm.get('daysCount')?.hasError('required')">
                Please enter number of days
              </mat-error>
              <mat-error class="text-red-500" *ngIf="bookingForm.get('daysCount')?.hasError('min')">
                Minimum is 1 day
              </mat-error>
            </mat-form-field>

            <!-- Computed End Date -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>End Date</mat-label>
              <input matInput [value]="bookingForm.get('endDate')?.value | date:'mediumDate'" disabled>
            </mat-form-field>

            <!-- Venue (readonly) -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Venue</mat-label>
              <input matInput [value]="selectedVenueName || '–'" disabled>
              <input type="hidden" formControlName="venueId">
            </mat-form-field>

            <!-- Package -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Price Plan</mat-label>
              <mat-select  formControlName="venuePackageId">
                <mat-option *ngFor="let p of packageOptions" [value]="p.leaseId">
                  <div class="p-2 bg-blue-50 rounded mb-1.5 w-full">
                    <span class="font-semibold">{{ p.packageName }}</span>
                    <span class="block text-sm text-gray-700">Tzs {{ p.price }}</span>
                    <span class="block text-sm text-gray-700">{{ p.description }}</span>
                  </div>
                </mat-option>
              </mat-select>
              <mat-error class="text-red-500" *ngIf="bookingForm.get('venuePackageId')?.hasError('required')">
                Package is required
              </mat-error>
            </mat-form-field>

            <!-- Session -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Session</mat-label>
              <mat-select formControlName="session">
                <mat-option *ngFor="let s of sessionOptions" [value]="s.label">
                  {{ s.label }} ({{ s.start }}–{{ s.end }})
                </mat-option>
              </mat-select>
              <mat-error class="text-red-500" *ngIf="bookingForm.get('session')?.hasError('required')">
                Session is required
              </mat-error>
            </mat-form-field>

            <!-- Activity -->
            <mat-form-field  appearance="fill" class="w-full">
              <mat-label>Activity</mat-label>
              <mat-select  formControlName="venueActivityId">
                <mat-option *ngFor="let a of activityOptions" [value]="a.activityId">
                  <div class="p-2 bg-blue-50 rounded mb-1.5">
                    <span class="font-semibold">{{ a.activityName }}</span>
                    <span class="block text-sm text-gray-700">{{ a.activityDescription }}</span>
                  </div>
                </mat-option>
              </mat-select>
              <mat-error class="text-red-500" *ngIf="bookingForm.get('venueActivityId')?.hasError('required')">
                Activity is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Back home & Next Button -->
          <div class="flex justify-between mt-6 text-right rounded-md-lg">
            <button type="button"
                    (click)="back()"
                    class="px-6 py-2 text-white bg-gray-600 rounded hover:bg-gray-700">
              Back to Venue Explorer
            </button>
            <button type="button"
                    (click)="nextStep()"
                    class="px-10 py-2 font-semibold text-white bg-blue-600 rounded hover:bg-blue-700">
              Next
            </button>
          </div>
        </ng-container>

        <!-- STEP 2 -->
        <ng-container *ngIf="currentStep === 2">
          <div class="space-y-4">
            <!-- Full Name -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Full Name</mat-label>
              <input matInput formControlName="fullName" placeholder="Your name">
              <mat-error class="text-red-500" *ngIf="bookingForm.get('fullName')?.hasError('required')">
                Name is required
              </mat-error>
            </mat-form-field>

            <!-- Phone -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phoneNumber" placeholder="i.e 07xx...">
              <mat-error class="text-red-500" *ngIf="bookingForm.get('phoneNumber')?.hasError('required')">
                Phone is required
              </mat-error>
              <mat-error class="text-red-500" *ngIf="bookingForm.get('phoneNumber')?.hasError('pattern') ||
              bookingForm.get('phoneNumber')?.hasError('minlength') ||
              bookingForm.get('phoneNumber')?.hasError('maxlength')">
                Invalid format, Must start with 06,07 or 08 and be 10 digits
              </mat-error>
            </mat-form-field>

            <!-- Email -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Email (Optional)</mat-label>
              <input matInput formControlName="email" placeholder="you@example.com">
              <mat-error class="text-red-500" *ngIf="bookingForm.get('email')?.hasError('email')">
                Invalid email
              </mat-error>
            </mat-form-field>

            <!-- Address -->
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" placeholder="Your address">
              <mat-error class="text-red-500" *ngIf="bookingForm.get('address')?.hasError('required')">
                Address is required
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Prev & Submit -->
          <div class="flex justify-between mt-6">
            <button type="button"
                    (click)="prevStep()"
                    class="px-6 py-2 text-white bg-gray-600 rounded hover:bg-gray-700">
              Previous
            </button>
            <button type="submit"
                    (click)="assurance()"
                    class="px-6 py-2 text-white bg-green-600 rounded hover:bg-green-700">
              Submit
            </button>
          </div>
        </ng-container>
      </form>
    </div>
  </div>
</div>
