<div class="container">
  <div class="d-flex justify-content-between mb-3">
    <div class="btn-add-left">
      <button mat-raised-button color="primary" [routerLink]="['/admin/addoptional']">
        Add Optional Service
      </button>
    </div>
  </div>

  <h2 class="text-center">Optional Services</h2>

  <mat-table [dataSource]="optionalServices" class="mat-elevation-z8">

    <!-- Service Name Column -->
    <ng-container matColumnDef="serviceName">
      <mat-header-cell *matHeaderCellDef class="black-text"> Service Name </mat-header-cell>
      <mat-cell *matCellDef="let service"> {{service.serviceName}} </mat-cell>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef class="black-text"> Description </mat-header-cell>
      <mat-cell *matCellDef="let service"> {{service.description}} </mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef class="black-text"> Price </mat-header-cell>
      <mat-cell *matCellDef="let service"> {{service.price | currency:'TZS':true}} </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="black-text"> Actions </mat-header-cell>
      <mat-cell *matCellDef="let service">
        <button mat-button class="edit-button" (click)="openEditModal(service.serviceId)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteOptionalService(service.serviceId)">🗑️</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
